<style>
    div {
        border: 10px;
        padding: 10px;
        margin: 10px;
        border-color: black;
        float: left;
        color: red;
        border-style:inset;
        align-self: right;
    }
</style>

<nav>


    <a href="/">
        <div> Home
        </div>
    </a>

    <a href="/contact/">
        <div> Contact
        </div>
    </a>

    <a href="/about/">
        <div> About
        </div>
    </a>

    <a href="/product_detail/">
        <div> Product Detail
        </div>
    </a>


    <a href="/product_create/">
        <div> Create Product
        </div>
    </a>
    <a href="/admin/">
        <div> Admin
        </div>
    </a>

</nav>